@font-face {
  font-family: "DeLaFuente";
  src: url("../fonts/DeLaFuente.ttf") format("truetype"); }
* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  font-family: "DeLaFuente"; }

html {
  background: #FFD105 url("../images/Bg-Pattern.png");
  background-repeat: repeat; }

input[type=text] {
  width: 3em;
  padding: 0.5em 0.5em;
  border: 0.1em solid #B12C2C;
  border-radius: 0.5em;
  background-color: #FFE574; }

.btn {
  background-color: #FFD105;
  color: #B12C2C;
  padding: 5px 30px;
  border-radius: 99em;
  text-decoration: none;
  outline: none;
  text-align: center;
  border: none;
  cursor: pointer; }

#header-section .header-section-wrapper .title-header {
  width: 100%;
  margin: auto;
  left: 0;
  right: 0; }
  #header-section .header-section-wrapper .title-header h1 {
    text-align: center;
    color: #B12C2C; }
#header-section .header-section-wrapper .subtitle-header {
  width: 100%;
  margin: auto;
  left: 0;
  right: 0; }
  #header-section .header-section-wrapper .subtitle-header h4 {
    text-align: center;
    color: #B12C2C; }

#body-section .body-section-wrapper .main-content {
  width: 50%;
  height: 30em;
  background-color: #FFE574;
  border-radius: 2.5em;
  margin: auto;
  box-shadow: 0.5em 0.5em 4em #836B00;
  position: relative; }
  #body-section .body-section-wrapper .main-content .winner-message {
    width: 200px;
    height: 100px;
    text-align: center;
    margin: auto;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0; }
    #body-section .body-section-wrapper .main-content .winner-message h1 {
      font-size: 2.5em;
      color: #B12C2C; }
  #body-section .body-section-wrapper .main-content .time-select {
    height: 220px;
    width: 150px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    #body-section .body-section-wrapper .main-content .time-select h4 {
      color: #B12C2C; }
    #body-section .body-section-wrapper .main-content .time-select .form-wrapper {
      margin-bottom: 30px; }
  #body-section .body-section-wrapper .main-content .game-top {
    width: 100%;
    height: 150px; }
    #body-section .body-section-wrapper .main-content .game-top .game-top-wrapper {
      width: 60%;
      height: 100%;
      margin: 0 auto;
      text-align: center; }
      #body-section .body-section-wrapper .main-content .game-top .game-top-wrapper h4 {
        color: #B12C2C;
        font-size: 1.3em; }
      #body-section .body-section-wrapper .main-content .game-top .game-top-wrapper .timing-btn {
        width: 100px;
        height: 60px;
        display: inline-block; }
        #body-section .body-section-wrapper .main-content .game-top .game-top-wrapper .timing-btn .timing-label {
          height: 40px;
          border: 2px solid #B12C2C;
          border-radius: 0.8em; }
        #body-section .body-section-wrapper .main-content .game-top .game-top-wrapper .timing-btn h4 {
          margin-top: 10px;
          font-size: 1.3em;
          color: #B12C2C; }
        #body-section .body-section-wrapper .main-content .game-top .game-top-wrapper .timing-btn .reset-button {
          background-color: #FFE574; }
      #body-section .body-section-wrapper .main-content .game-top .game-top-wrapper .winning-score {
        width: 100px;
        height: 60px;
        display: inline-block; }
      #body-section .body-section-wrapper .main-content .game-top .game-top-wrapper .drawing-score {
        width: 100px;
        height: 60px;
        display: inline-block; }
      #body-section .body-section-wrapper .main-content .game-top .game-top-wrapper .losses-score {
        width: 100px;
        height: 60px;
        display: inline-block; }
  #body-section .body-section-wrapper .main-content .game-middle {
    width: 100%;
    height: 150px; }
    #body-section .body-section-wrapper .main-content .game-middle .player-choice {
      width: 158px;
      height: 100px;
      background: url("../images/hands/hands1.png");
      background-repeat: no-repeat;
      background-size: cover;
      float: left; }
    #body-section .body-section-wrapper .main-content .game-middle .computer-choice {
      width: 150px;
      height: 100px;
      background: url("../images/hands/hands6.png");
      background-repeat: no-repeat;
      background-size: cover;
      float: right; }
  #body-section .body-section-wrapper .main-content .game-bottom {
    width: 100%;
    height: 150px; }
    #body-section .body-section-wrapper .main-content .game-bottom .game-bottom-wrapper {
      width: 50%;
      height: 70px;
      margin: 0 auto;
      text-align: center; }
      #body-section .body-section-wrapper .main-content .game-bottom .game-bottom-wrapper .rock-btn {
        background: #FFD105 url("../images/rock-btn-img.png") no-repeat;
        background-size: 25px 16px;
        background-position: 4px; }
      #body-section .body-section-wrapper .main-content .game-bottom .game-bottom-wrapper .paper-btn {
        background: #FFD105 url("../images/paper-btn-img.png") no-repeat;
        background-size: 25px 16px;
        background-position: 4px; }
      #body-section .body-section-wrapper .main-content .game-bottom .game-bottom-wrapper .scissors-btn {
        background: #FFD105 url("../images/scissors-btn-img.png") no-repeat;
        background-size: 25px 16px;
        background-position: 4px; }
#body-section #play-time-form div {
  display: inline-block; }
  #body-section #play-time-form div input {
    display: block;
    position: relative;
    top: -1em;
    color: #B12C2C;
    font-size: 20px;
    text-align: center; }
  #body-section #play-time-form div label {
    display: block;
    position: relative;
    top: 3em;
    text-align: center;
    color: #B12C2C; }
